apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-loki
  labels:
    app: loki
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  nfs:
    server: 192.168.4.61
    path: /srv/monitoring_data/loki
