apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-prometheus
  labels:
    app: prometheus
spec:
  capacity:
    storage: 25Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  nfs:
    server: 192.168.4.61
    path: /srv/monitoring_data/prometheus
